.height {
    height: 600px;

}

.flexible {
    display: flex;
    flex-direction: column;
}

.grid-Container {
    display: grid;
    grid-template-columns: 1fr 2fr;

}

.cardHeight {
    height: 250px;
}